<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select User to Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Select User to Update</h2>
        @using (Html.BeginForm("SelectUserToUpdate", "Users", FormMethod.Post))
        {
            <div class="form-group">
                @Html.Label("Enter User ID:")
                @Html.TextBox("userId", null, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</body>
</html>
